@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;

    #logotipo {
        display: flex;
        justify-content: center;
        text-decoration: none;
        color: #4A0E4E;

        img {
            width: 7vh;
            padding: 20px;
        }

        div {
            display: flex;
            flex-direction: column;
            justify-content: center;

            h1 {
                font-family: "Nunito", Arial, Helvetica, sans-serif;
                font-weight: 800;
                font-size: 1.8em;
            }

            p {
                font-family: "Quicksand", Arial, Helvetica, sans-serif;
                font-weight: 500;
                font-size: 0.9em;
            }
        }
    }


    nav>ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 40vw;

        a {
            text-decoration: none;
            font-family: "Quicksand", Arial, Helvetica, sans-serif;
            font-weight: 500;
            padding: 1% 4%;
            border-radius: 100px;
            color: #4A0E4E;

            li {

                list-style: none;

            }
        }

        a:hover {
            background-color: rgba(255, 182, 193, 0.4);
            font-weight: 700;
        }

        #inicio {
            background-color: #FFB6C1;

        }

        #inicio:hover {
            background-color: rgba(255, 182, 193, 0.7);
            font-weight: 700;
        }

        #entrar {

            background-color: #4A0E4E;
            color: white;
        }

        #entrar:hover {

            background-color: rgba(74, 14, 78, 0.7);
            color: white;
            font-weight: 700;
        }
    }
}



main {

    #inicio {

        display: flex;
        justify-content: space-around;
        padding: 4%;

        article {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: 40%;

            #heart {
                display: flex;
                align-items: center;
                justify-content: center;
                border: #AEC6CF 1px solid;
                border-radius: 50px 50px 50px 10px;
                box-shadow: 0px 2px 5px #888888;
                width: 40%;
                padding: 1%;


                img {
                    height: 20px;
                    padding-right: 10px;
                }
            }

            div {

                h1 {
                    font-family: "Nunito", Arial, Helvetica, sans-serif;
                    font-size: 4.5em;
                    font-weight: 800;
                }

                p {
                    font-family: "Quicksand", Arial, Helvetica, sans-serif;
                    font-size: 1.2em;
                    font-weight: 500;
                    text-align: justify;
                }


            }

            #botoes {
                display: flex;
                flex-direction: row;
                justify-content: space-around;

                #servicos {
                    padding: 2%;
                    width: 40%;
                    font-family: "Quicksand", Arial, Helvetica, sans-serif;
                    font-size: 1em;
                    font-weight: 600;
                    background-color: #FFB6C1;
                    border-radius: 50px;
                    border: 2px solid #ff8b9d;
                    transition: width 0.4s;
                }

                #servicos:hover {
                    background-color: #ff8b9d;
                    color: white;
                    cursor: pointer;
                    font-weight: 800;
                    box-shadow: 0px 2px 5px #888888;
                    width: 42%;
                }

                #depoimentos {
                    padding: 2%;
                    width: 40%;
                    font-family: "Quicksand", Arial, Helvetica, sans-serif;
                    font-size: 1em;
                    font-weight: 600;
                    background-color: #AEC6CF;
                    border-radius: 50px;
                    border: #7ca4b3 2px solid;
                    transition: width 0.4s;
                }

                #depoimentos:hover {
                    background-color: #7ca4b3;
                    color: white;
                    cursor: pointer;
                    font-weight: 800;
                    box-shadow: 0px 2px 5px #888888;
                    width: 42%;
                }
            }
        }

        #vet {

            width: 50%;
            border-radius: 100px 250px;
            border: 20px solid #AEC6CF;
        }
    }

    #section-servicos {
        padding: 50px;
        background-color: #DFE8EC;
        height: 85vh;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .intro-section {
            margin-bottom: 5vh;

            h2 {
                font-family: "Nunito", Arial, Helvetica, sans-serif;
                font-weight: 800;
                font-size: 2.5em;
                text-align: center;
                color: #4A0E4E;
            }

            p {
                font-family: "Quicksand", Arial, Helvetica, sans-serif;
                text-align: center;
                font-size: 1em;
            }
        }

        article {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin: 50px;

            .card {
                background-color: #ffffff;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                border: 1px solid #FFB6C1;
                border-radius: 40px;
                box-shadow: 0px 0px 10px #c0c0c0;
                width: 20vw;
                height: 30vh;
                padding: 2%;
                transition: width, height, ;


                .image-servico {
                    width: 10%;
                    background-color: #FEDADF;
                    padding: 15px;
                    border-radius: 20px;

                }

                h3 {
                    font-size: 1.5em;
                    font-family: "Nunito", Arial, Helvetica, sans-serif;
                }

                p {
                    font-size: 1em;
                    font-family: "Quicksand", Arial, Helvetica, sans-serif;
                }

                .saiba-mais {
                    width: 40%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    a {
                        font-family: "Quicksand", Arial, Helvetica, sans-serif;
                        font-size: 1em;
                        font-weight: 600;
                        text-decoration: none;
                        margin-right: 5px;
                    }

                    img {
                        width: 15px;
                    }
                }
            }
        }
    }

    #section-depoimentos {
        padding: 50px;
        height: 85vh;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .intro-section {
            margin-bottom: 5vh;

            h2 {
                font-family: "Nunito", Arial, Helvetica, sans-serif;
                font-weight: 800;
                font-size: 2.5em;
                text-align: center;
                color: #4A0E4E;
            }

            p {
                font-family: "Quicksand", Arial, Helvetica, sans-serif;
                text-align: center;
                font-size: 1em;
            }
        }

        article {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin: 50px;

            .card {
                background-color: #ffffff;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                border: 1px solid #AEC6CF;
                border-radius: 40px;
                box-shadow: 0px 0px 10px #c0c0c0;
                width: 20vw;
                height: 30vh;
                padding: 2%;

                .abre-aspas {
                    width: 10%;
                    display: flex;
                    align-self: flex-start;
                }

                .fecha-aspas {
                    width: 10%;
                    display: flex;
                    align-self: flex-end;
                }

                p {
                    font-family: "Quicksand", Arial, Helvetica, sans-serif;
                    text-align: justify;
                }

                .perfil-depoimento {
                    display: flex;
                    align-items: center;

                    h4 {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: #ff8b9d;
                        width: 50px;
                        height: 50px;
                        border-radius: 100px;
                        margin-right: 20px;
                        font-family: "Quicksand", Arial, Helvetica, sans-serif;
                        color: white;
                        font-size: 1.5em;
                    }

                    h5 {
                        font-family: "Nunito", Arial, Helvetica, sans-serif;
                        font-weight: 800;
                        font-size: 1.1em;
                        color: #4A0E4E;
                    }
                }
            }
        }
    }
}

footer {
    background-color: #4A0E4E;
    display: flex;
    flex-direction: column;

    article {

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        color: #ffffff;

        div {
            margin: 2%;

            h2 {
                font-family: "Nunito", Arial, Helvetica, sans-serif;
            }

            h3 {
                font-family: "Nunito", Arial, Helvetica, sans-serif;
            }

            p {
                font-family: "Quicksand", Arial, Helvetica, sans-serif;
            }
        }
    }

    #direitos-autorais {
        border-top: rgba(255, 255, 255, 0.05) solid 1px;
        text-align: center;
        padding: 30px;
        color: #ffffff;
        font-family: "Quicksand", Arial, Helvetica, sans-serif;
        font-size: 0.9em;
    }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    * {
        margin: 0;
        padding: 0;
    }

    header {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 45vh;

        #logotipo {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;

            img {
                padding: 0px;
            }
        }

        nav {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 20vh;
            width: 100%;

            ul {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-evenly;
                height: 100%;
                width: 50%;

                a {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                }

                #inicio {
                    width: 20vw;
                    height: 4vh;
                }

                #entrar {
                    width: 20vw;
                    height: 4vh;
                }
            }
        }
    }

    main {

        #inicio {
            padding: 0;
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            justify-content: space-evenly;
            height: 110vh;

            article {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                width: 80%;
                height: 55vh;

                #heart {
                    width: 80%;
                    height: 4vh;
                    padding: 0;
                    font-size: 0.8em;
                }

                #texto-apresentacao {
                    height: 35vh;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;

                    h1 {
                        font-size: 2.5em;
                    }

                    p {
                        font-size: 1em;
                    }
                }
            }

            #vet {
                width: 80%;
                border: 12px solid #AEC6CF;
                border-radius: 50px 100px;
            }
        }

        #section-servicos {
            display: flex;
            flex-direction: column;
            padding: 0;
            height: 210vh;

            .intro-section {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                margin: 20px;
            }

            article {
                margin: 0;
                display: flex;
                flex-direction: column;
                height: 170vh;

                .card {
                    justify-content: space-evenly;
                    width: 60%;
                    height: 40vh;
                    padding: 30px;

                    .saiba-mais {
                        width: 100%;
                    }
                }
            }
        }

        #section-depoimentos {
            display: flex;
            flex-direction: column;
            padding: 0;
            height: 210vh;

            .intro-section {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                margin: 20px;
            }

            article {
                margin: 0;
                display: flex;
                flex-direction: column;
                height: 170vh;
                align-items: center;

                .card {
                    justify-content: space-evenly;
                    width: 60%;
                    height: 40vh;
                    padding: 30px;

                    .saiba-mais {
                        width: 100%;
                    }
                }
            }
        }
    }

    footer {
        font-size: 1em;

        article {
            margin: 40px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            div {
                display: flex;
                flex-direction: column;
                /* align-items: center;
                text-align: center; */

            }
        }
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    header {
        border: solid red 3px;
        height: 25vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        #logotipo {
            img {
                padding: 0px 15px;
            }
        }

        nav {
            width: 80%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            flex-wrap: wrap;

            ul {
                width: 100%;
                text-align: center;
                display: flex;
                align-items: center;

                a {
                    flex-wrap: nowrap;
                    padding: 0;
                }

                #inicio {
                    padding: 2% 4%;
                }

                #entrar {
                    padding: 2% 4%;
                }


            }
        }
    }

    main {

        section {
            
            #inicio {
                display: flex;
                flex-direction: column-reverse;
            }
        }
    }

    footer {
        display: none;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}